/* Circular profile image container */
.profile-img-container {
  width: 20rem; 
  height: 20rem;
  border-radius: 50%; 
  overflow: hidden;
  border: 5px solid #9b5de5; 
  box-shadow: 0 10px 15px rgba(0,0,0,0.3); 
  transition: transform 0.5s ease, filter 0.5s ease; 
  cursor: pointer;
}

/* Image inside the container */
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  transition: filter 0.5s ease;
}


/* Scroll Down Arrow */
.scroll-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #9b5de5;
  cursor: pointer;
  z-index: 10; 
  animation: bounce 2s infinite;
}


/* Bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-15px);
  }
  60% {
    transform: translateX(-50%) translateY(-7px);
  }
}
